.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  .description {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #bdbdbd;
  }
  .title {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  .removeBtn {
    width: 45px;
    height: 45px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
