.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  // transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

.overlayVisible {
  display: block;
  visibility: visible;
  opacity: 1;
}

.registration{
  padding: 30px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 600px;
  min-height: 600px;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 44px;
}

.title{
  height: 40px;
  position: relative;

  h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 365px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }

  img{
    position: absolute;
    right: 5%;
    transform: translate(-5%, 0);
    width: 50px;
    height: 50px;
    cursor: pointer;
    &:hover {
      filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
    }
  }
}

.form{
  margin: 40px 50px 20px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 340px;
  .form__item{
    width: 500px;
    margin-bottom: 15px;
    label{
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 32px;
    }

    input{
      margin-bottom: 10px;
      padding: 0 30px;
      width: inherit;
      height: 70px;
      background: #E2E2E2;
      box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
      border: 0;
      border-radius: 20px;
      font-weight: 300;
      font-size: 24px;

      &::placeholder{
        font-style: normal;
        font-weight: 300;
        font-size: 24px;

        color: #000000;
      }
    }
  }

  button{
    width: 300px;
    height: 60px;
    box-shadow: 7px 7px 5px rgba(20, 20, 20, 0.25);
    border-radius: 20px;
    font-weight: 300;
    font-size: 24px;
  }
}

.login{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;

  h3 {
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;

    &:hover{
      border-bottom: 1px solid rgba(0, 0, 0, .5);
    }
  }
}